<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RichardSzalay.Helix.Publishing.WebRoot" version="1.5.6" targetFramework="net48" />
  <package id="Sitecore.Assemblies.Platform" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.Assemblies.SitecoreHeadlessServicesServer" version="21.0.583" targetFramework="net48" />
</packages>