<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:role="http://www.sitecore.net/xmlconfig/role/"
			   xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <sc.variable name="hostName" value="$(env:Sitecore_BasicCompany_Hostname)" />
    <sc.variable name="targetHostName" value="$(env:Sitecore_BasicCompany_Target_Hostname)" />
    <sc.variable name="imageHostName" value="$(env:Sitecore_BasicCompany_Image_Hostname)" />

    <sites>
      <!--
				JSS Site Registration
				This configures the site with Sitecore - i.e. host headers, item paths.
				If your JSS app lives within an existing Sitecore site, this may not be necessary.				
			  -->
      <site name="basiccompany"
				  inherits="website"
				  hostName="$(hostName)"
				  targetHostName="$(targetHostName)"
				  rootPath="/sitecore/content/BasicCompany"
				  startItem="/home"
				  language="en"
				  database="master"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="50MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="25MB"
				  filteredItemsCacheSize="10MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"
				  cacheRenderingParameters="true"
				  renderingParametersCacheSize="10MB"
				  itemwebapi.mode="Off"
				  itemwebapi.access="ReadOnly"
				  itemwebapi.allowanonymousaccess="false"
				  enableItemLanguageFallback="true"
				  enableFieldLanguageFallback="true"
          		  scheme="https"
				  patch:before="site[@name='website']" />

    </sites>
    <javaScriptServices>
      <apps>
        <!--
				  JSS App Registration
				  The JSS app needs to be registered in order to support layout service and import services.

				  There are many available attributes, and they inherit the defaults if not explicitly specified here.
				  Defaults are defined in `/App_Config/Sitecore/JavaScriptServices/Sitecore.JavaScriptServices.Apps.config`

				  NOTE: graphQLEndpoint enables _Integrated GraphQL_. If not using integrated GraphQL, it can be removed.

				  NOTE: This app configuration assumes a Sitecore-first approach and thus disables the JSS Workflow for
				  initial app import, and does not protect imported items.
				-->
        <app name="basiccompany"
					 sitecorePath="/sitecore/content/BasicCompany"
					 graphQLEndpoint="/sitecore/api/graph/edge"
					 serverSideRenderingEngine="http"
					 serverSideRenderingEngineEndpointUrl="$(env:RENDERING_HOST_URI)/api/editing/render"
					 serverSideRenderingEngineApplicationUrl="$(env:RENDERING_HOST_PUBLIC_URI)"
					 useLanguageSpecificLayout="true"
					 defaultWorkflow=""
					 protectDeveloperItems="false"
					 deploymentSecret="$(env:JSS_BasicCompany_DEPLOYMENT_SECRET)"
					 debugSecurity="false"
					 inherits="defaults" />
      </apps>
    </javaScriptServices>
    <!--<settings>
      <setting name="Media.MediaLinkServerUrl" set:value="$(imageHostName)" />
    </settings>-->

  </sitecore>
</configuration>
